/********************
  Common
********************/

html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, verdana, monospace;
  color: #FFF;
  font-size: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
  background: #000;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  padding-top: 0.8rem;
}

p {
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

header#header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

/********************
  Contents
********************/

canvas {
  display: block;
}

canvas#canvas {
  background: #000;
}

canvas#canvasBack {
  opacity: 0.3;
  background: #000000;  /* fallback for old browsers */
}
