/********************
  Loading
********************/

p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

/********************
  Common
********************/

html, body {
  height: 100%;
  width: 100%;
  font-family: 'arial black', Helvetica, verdana, monospace, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
  color: #FFF;
  background: #000;
}

body {
  position:  relative;
}

a {
  color: #FFF;
  text-decoration: none;
}

span#logo {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #CC2F3B;
  margin-right: 0.4rem;
}

h1 {
  font-size: 1.6rem;
}

header#header {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}

/********************
  Contents
********************/

canvas#canvas {
  background: #000;
}

h2 {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 1.6rem;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.8rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

span#scroll {
  position: absolute;
  left: 50%;
  bottom: 1.6rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #CC2F3B;
  -webkit-transform: translateX(-50%);
          transform: translate(-50%);
}
