@charset 'UTF-8';
/**********
 * loading
 **********/
.loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 9999;
  visibility: visible;
  opacity: 1;
  transition: visibility ease-in-out 1.6s, opacity ease-in-out 1.6s;
}
.circle {
  width: 32px;
  height: 32px;
  background: #FFF;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0, 0);
  animation: circle-animation 1.6s ease-in-out 0s infinite normal running;
}
.loading.loaded {
  visibility: hidden;
  opacity: 0;
}
@keyframes circle-animation {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

/**********
 * common 
 **********/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

html *,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #000;
  color: #FFF;
  font-family: serif;
  text-align: center;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
a,
a:visited {
  color: #FFF;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
a:hover:not(.image a) {
  color: deeppink;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  font-size: 1.2rem;
  list-style-type: none;
}
.body-container {
  overflow-x: hidden;
  padding: 0 32px;
}
@media (min-width: 480px) and (max-width: 1024px) {
  .body-container {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .body-container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/**********
 * header
 **********/
.header-container {
  position: relative; 
  min-height: 100vh; /* Fallback */
  min-height: calc(var(--vh, 1vh) * 100);
}

h1 {
  font-size: 3.2rem;
  position: absolute;
  top: 32px;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s 1.6s ease-in-out, opacity 0.4s 1.6s ease-in-out;
}
.loading.loaded + .body-container h1 {
  transform: none;
  opacity: 1;
}

.description {
  white-space: nowrap;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: rgba(0, 0, 0, 0.4);
  padding: 32px;
  transform: translateX(-50%);
  opacity: 0;
  transition: bottom 0.8s 2.0s ease-in-out, opacity 0.8s 2.0s ease-in-out;
}
.loading.loaded + .body-container .description {
  bottom: 15%;
  opacity: 1;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 16px;
}
p {
  font-size: 1.6rem;
  padding-bottom: 16px;
}
ul li {
  display: inline-block;
  padding: 0 16px;
}

.frame-bottom-left,
.frame-top-right {
  position: absolute;
  width: 32px;
  height: 32px;
}
.frame-bottom-left {
  bottom: 32px;
  left: 0;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s 1.8s ease-in-out, opacity 0.4s 1.8s ease-in-out;
}
.loading.loaded + .body-container .frame-bottom-left {
  transform: none;
  opacity: 1;
}
.frame-top-right {
  top: 32px;
  right: 0;
  border-right: 2px solid #FFF;
  border-top: 2px solid #FFF;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s 1.6s ease-in-out, opacity 0.4s 1.6s ease-in-out;
}
.loading.loaded + .body-container .frame-top-right {
  transform: none;
  opacity: 1;
}

.scroll-down {
  font-size: 1.6rem;
  position: absolute;
  bottom: 32px;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s 1.8s ease-in-out, opacity 0.4s 1.8s ease-in-out;
  animation: scroll-down-animation 2.4s ease-in-out 3.8s infinite normal none running;
}
.loading.loaded + .body-container .scroll-down {
  transform: translateX(0);
  opacity: 1;
}

@keyframes scroll-down-animation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**********
 * main
 **********/
.main-container {
  font-size: 0;
}

.works {
  display: inline-block;
  width: 50%;
  padding: 0 8px;
}
@media (min-width: 480px) {
  .works {
    width: 33.3%;
    padding: 0 8px;
  }
}

.image {
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: top ease-in-out 0.4s, opacity ease-in-out 0.4s, visibility ease-in-out 0.4s;
}
.image:hover .overlay {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.view {
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #FFF;
  transition: width ease-in-out 0.4s 0.4s;
}
.image:hover .view:after {
  width: 100%;
}
.title {
  display: none;
  padding-bottom: 8px;
  font-size: 1.6rem;
}
.date {
  display: none;
  padding-bottom: 16px;
  font-size: 1.2rem;
}
@media (min-width: 480px) {
  .title,
  .date {
    display: block;
  }
}
