@media (min-width: 1px) {
  :root {
    font-size: calc(0.5rem + ((1vw - 0.01px) * 0.1955));
    min-height: 0vw;
  }
}
@media (min-width: 1024px) {
  :root {
    font-size: 10px;
  }
}

.visually-hidden
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;                                                                                                                                                             
  clip: rect(1px, 1px, 1px, 1px);

html
  font-size: 62.5%;

::before,
::after
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;

img
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
