/********************
 * loading overwrite
********************/
.loading
  background: #000;

.circle
  background: #FFF;

/********************
 * others
********************/
body                                                                                                                                                                            
  background: #000;
  color: #FFF;
  font-family: serif;
  text-align: center;

a,                                                                                                                                                                              
a:visited
  color: #FFF;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
  display: block;

a:hover                                                                                                                                                                         
  color: deeppink;

li
  font-size: 1.2rem;
  list-style-type: none;

.body-container                                                                                                                                                                 
  overflow-x: hidden;
  padding: 0 32px;

@media (min-width: 480px) and (max-width: 1024px)
  .body-container
    margin: 0 auto;

@media (min-width: 1024px)                                                                                                                                                      
  .body-container
    max-width: 1024px;
    margin: 0 auto;

h1
  font-size: 3.2rem;
  position: absolute;
  top: 32px;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s 1.6s ease-in-out, opacity 0.4s 1.6s ease-in-out;

.loading.loaded + .body-container h1
  transform: none;
  opacity: 1;

h2
  font-size: 3.2rem;
  padding-bottom: 16px;

p
  font-size: 1.6rem;

.nav ul li,
.description ul li
  display: inline-block;
  a
    padding: 16px;

/********************
 * frames
********************/
.frame-bottom-left,
.frame-top-right
  position: absolute;
  width: 32px;
  height: 32px;

.frame-bottom-left
  bottom: 32px;
  left: 0;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s 1.8s ease-in-out, opacity 0.4s 1.8s ease-in-out;

.loading.loaded + .body-container .frame-bottom-left
  transform: none;
  opacity: 1;

.frame-top-right
  top: 32px;
  right: 0;
  border-right: 2px solid #FFF;
  border-top: 2px solid #FFF;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s 1.6s ease-in-out, opacity 0.4s 1.6s ease-in-out;

.loading.loaded + .body-container .frame-top-right
  transform: none;
  opacity: 1;

/********************
 * footer
********************/
footer
  font-size: 1.2rem;
  padding: 16px;
