header
  h1 Summary
  marquee(scrollamount="12") This page uses table tags and marquee for SDGs.
  nav
    ul
      li
        a(href="./index.html") Home
      li
        a(href="https://twitter.com/toshiyamarukubo" target="_blank" rel="noopener noreferrer") Twitter
      li
        a(href="https://www.instagram.com/toshiyamarukubo/" target="_blank" rel="noopener noreferrer") Instagram
      li
        a(href="https://codepen.io/toshiya-marukubo" target="_blank" rel="noopener noreferrer") CodePen
      li
        a(href="https://github.com/toshiya-marukubo" target="_blank" rel="noopener noreferrer") GitHub
