/********************
  Common
********************/

html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, verdana, monospace;
  font-size: 100%;
  background: #000;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
  line-height: 1.6;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  padding: 1.6rem 0;
  font-size: 0.8rem;
}

h1 {
  padding: 0 0 0 0;
  font-size: 1.6rem;
}

h2 {
  padding: 1.6rem 1.6rem 0 1.6rem;
  font-size: 1;
}

/********************
  Vehicles icon
********************/

.vehicle {
  position: absolute;
  bottom: 0;
  left: 1.6rem;
  color: #ff4d4d;
  -webkit-animation: drive 30s linear infinite;
          animation: drive 30s linear infinite;
}

@-webkit-keyframes drive {
  from, to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes drive {
  from, to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/********************
  Main
********************/

div#main {
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

nav > ul > li {
  display: block;
  padding-bottom: 1.6rem;
  font-size: 0.8rem;
}

/********************
  Loading
********************/

p#loading {
  position: absolute;
  bottom: 0;
  right: 1.6rem;
  color: #FFF;
}

/********************
  About
********************/

div#about {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 2;
}

div#about > ul {
  text-align: center;
  padding: 1.6rem 0 0 0;
}

div#about > ul > li {
  display: inline-block;
  padding: 0 0.8rem;
}

div#about > p > img {
  width: 50%;
  margin: 0 25%;
  border-radius: 50%;
}

div#about > p {
  padding: 1.6rem 1.6rem 0 1.6rem;
}

div#about > p:last-child {
  padding-bottom: 1.6rem;
}

/********************
  Works
********************/

div#works {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 2;
}

div#works > p {
}

div#works > ul {
  padding: 0 1.6rem;
}

div#works > ul > li {
  padding: 1.6rem;
}

.close {
  color: #fff;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 3;
}

/********************
  Canvas
********************/

canvas#canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #434343);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/********************
  PC and Tablet
********************/

@media screen and (min-width: 48rem) {
  
  nav > ul > li {
    display: inline-block;
    padding-right: 1.6rem;
  }

  div#about {
    width: 30%;
  }

  div#works {
    width: 30%;
  }

  iframe#dispWorks {
    width: 70%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: #000000;
  }

}
