/********************
  Common
********************/

.sm {
  display: block;
}

.cf::after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  height: 100%;
  width: 100%;
  color: #FFF;
  background: #000;
  position: fixed;
  font-family: Helvetica, verdana, monospace;
  font-size: 100%;
  line-height: 1.6;
  overflow-y: scroll;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  padding: 1.6rem 0;
  font-size: 0.8rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
}

h3 {
  font-size: 1rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
}

/********************
  Loading
********************/

p#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/********************
  Header
********************/

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

/********************
  Nav
********************/

nav {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

nav > ul > li{
  padding: 1.6rem;
}

/********************
  Works
********************/

section#works > ul {
  font-size: 0;
  padding: 1.6rem 1.6rem 0 1.6rem;
}

section#works > ul > li > a > img {
  width: 100%;
  vertical-align: bottom;
}

section#works > ul > li {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

section#works > ul > li:hover {
  opacity: 1;
}

section#works > ul > li:last-child > p{
  padding-bottom: 0;
}

/********************
  About
********************/

section#about p {
  padding: 1.6rem 1.6rem 0 1.6rem;
}

section#about p > a{
  text-decoration: underline;
}

section#about p > img {
  width: 40%;
  margin: 0 30%;
  border-radius: 50%;
}

section#about ul {
  text-align: center;
  padding: 1.6rem 0 0 0;
}

section#about ul > li {
  display: inline-block;
  padding: 0 0.8rem;
}

section#about > div.aboutLeft > p {
  text-align: center;
}

/********************
  Footer
********************/

footer {
  font-size: 0.8rem;
  text-align: right;
  padding: 1.6rem;
}

/********************
  Canvas
********************/

canvas {
  display: block;
}

canvas#canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#434343));
  background: -o-linear-gradient(top, #000000, #434343);
  background: linear-gradient(to bottom, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

canvas#canvasBack {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 100%;
  overflow: hidden;
  opacity: 0.4;
  background: #000000;  /* fallback for old browsers */
}

/********************
  Vehicle
********************/

.vehicle {
  position: absolute;
  bottom: 0;
  left: 45%;
  color: #ff4d4d;
  -webkit-animation: drive 30s linear infinite;
          animation: drive 30s linear infinite;
}

@-webkit-keyframes drive {
  from, to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes drive {
  from, to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

/********************
  PC and Tablet
********************/

@media screen and (min-width: 48rem) {
  
  .sm {
    display: none;
  }

  section#about > div.aboutLeft {
    float: left;
    width: 50%;
  }

  section#about > section.aboutRight {
    float: right;
    width: 50%;
  }

  section#works > ul > li {
    display: inline-block;
    width: 33.333%;
    opacity: 0.8;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  section#works > ul > li > a > img {
    width: 95%;
  }

}
