meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="Study of WebGL")
meta(name="theme-color", content="#000000")
// Open Graph Protocol
meta(property="og:type", content="website")
meta(property="og:site_name", content="Toshiya Marukubo | Study of WebGL")
meta(property="og:image", content="https://toshiya-marukubo.github.io/dist/assets/images/study-of-webgl/og-home.png")
meta(property="og:description", content="Study of WebGL")
// Twitter Card
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@toshiyamarukubo")
meta(name="twitter:creator", content="@toshiyamarukubo")
// Icon
link(rel="apple-touch-icon", type="image/png", href="../dist/assets/images/icons/apple-touch-icon-180x180.png")
link(rel="icon", type="image/png", href="../dist/assets/images/icons/icon-192x192.png")
// style
link(rel="stylesheet", href="../../dist/css/study-of-webgl-works.bundle.css")
// Global site tag (gtag.js) - Google Analytics
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-149600281-2")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149600281-2');
