@import './modules/reset.styl';
@import './modules/loading.styl';

body
  background: #FFF;
  color: #000;
  font-size: 62.5%;
  text-align: right;

a
  color: #000;
  display: inline-block;
  transition: opacity 0.2s ease-in-out 0s;
@media (hover: hover)
  a:hover
    opacity: 0.4;

.loading
  background: #FFF;

.circle
  background: #000;

.container
  overflow: hidden;

.container-inner
  padding: 32px;
  h1
    font-size: 2.4rem;
    padding-bottom: 16px;
  p
    font-size: 1.2rem;
    a
      padding: 16px 0;
  ul li
    font-size: 1.2rem;
    a
      padding: 16px 0;

iframe
  background: #FFF;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 0.2s ease-in-out 0s;
  &.show
    visibility: visible;
    opacity: 1;

.closeButton
  position: fixed;
  z-index: 9999;
  top: 32px;
  right: 32px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  visibility: hidden;
  backface-visibility: hidden;
  a
    display: block;
    height: 100%;
    width: 100%;
  &::before,
  &::after
    content: '';
    display: block;
    position: absolute;
    width: 64px;
    height: 3px;
    background: #000;
    transform: translateY(-50%) rotate(0deg);
    top: 50%;
    opacity: 0;
    backface-visibility: hidden;
    transition: visibility 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, transform 0.4s ease-in-out 0s;
  &.show
    visibility: visible;
    opacity: 1;
    &::before
      opacity: 1;
      transform: translateY(-50%) rotate(45deg);
    &::after
      opacity: 1;
      transform: translateY(-50%) rotate(-45deg);

.title
  position: fixed;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  p
    font-size: 1.6rem;

.disabled
  pointer-events: none;
  user-select: none;
  opacity: 0.3;
