@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Montserrat:wght@200&display=swap')
@import './index-components/reset.styl';
@import './index-components/common.styl';
@import './index-components/loading.styl';

html
  overscroll-behavior auto

body
  font-family Montserrat, sans-serif

.back
  position fixed
  bottom 32px
  right 32px
  height 64px
  width 64px
  background #FAFAFA
  border 1px solid #000000
  a
    width 100%
    height 100%
    &::before, &::after
      position absolute
      top 50%
      left 50%
      transform-origin left
      transform translate(-50%, -50%) rotate(-35deg)
      content ''
      display block
      height 1px
      width 32px
      background #000000
      transition background 0.2s easeInOutQuint
    &::after
      transform translate(-50%, -50%) rotate(35deg)
    &:hover::before, &:hover::after
      background #FAFAFA
