@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Montserrat:wght@200&display=swap')
@import './index-components/reset.styl';
@import './index-components/common.styl';
@import './index-components/loading.styl';
@import './index-components/header.styl';
@import './index-components/main.styl';
@import './index-components/iframe.styl';

html
  background #FAFAFA

html, body
  font-family Montserrat, sans-serif

body
  color #000000

.body-container
  overflow hidden

.none
  display none
