meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
// style
link(rel="stylesheet", href="../../dist/css/days.bundle.css")
// Global site tag (gtag.js) - Google Analytics
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-149600281-2")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-149600281-2');
