/********************
  Common
********************/

html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, verdana, monospace;
  color: #000;
  font-size: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
  background: #FFF;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  padding-top: 0.8rem;
}

p {
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

header#header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

/********************
  Contents
********************/

canvas#canvas {
  background: #FFF;
}

div#controller {
  position: fixed;
  bottom: 0%;
  left: 50%;
  background: #000;
  opacity: 0.8;
  color: #FFF;
  padding: 1.6rem;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

textarea {
  position: fixed;
  width: 100%;
  font-size: 30px;
  text-align: center;
  border-bottom: 10px #000;
  top: 50%;
  left: 50%;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: solid 5px #000;
  outline: none;
  background: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
