doctype html
html(lang="en")
  head
    include ./components/head.pug
  body
    .body-container
      include ./components/load.pug
      include ./components/header.pug
    script(src='../dist/js/awards.bundle.js')
