/********************
  Common
********************/

html, body {
  height: 100%;
  width: 100%;
  font-family: 'arial black', Helvetica, verdana, monospace;
  color: #000;
  font-size: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
  background: #3e8e4c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  position:  relative;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}

ul > li {
  padding-top: 1.6rem;
}

header#header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

/********************
  Contents
********************/

canvas#canvas {
  background: #3e8e4c;
}

p#count {
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  padding: 1.6rem;
  background: #3e8e4c;
}
