- 
  const infos = {
    name: 'Day-3',
    path: '3',
  };

doctype html
html
  head
    include ../modules/head.pug
    title #{infos.name}
  body.preload
    include ../modules/loading.pug
    .title
      p #{infos.name}
    script(src=`../../dist/js/dailymotion-day-${infos.path}.bundle.js`)
