- 
  const infos = {
    name: 'Day-4',
    path: '4',
  };

doctype html
html
  head
    include ../modules/head.pug
    title #{infos.name}
  body
    include ../modules/loading.pug
    .title
      p #{infos.name}
    script(src=`../../dist/js/dailymotion-day-${infos.path}.bundle.js`)
