/********************
  Common
********************/

html, body {
  font-family: Helvetica, verdana, monospace;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-size: 100%;
  background: #000;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}

p {
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

header#header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

/********************
  Contents
********************/

canvas#canvas {
  background: #000;
}

div#controller {
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #0871BC;
  opacity: 0.9;
  overflow-y: scroll;
  z-index: 3;
}

div#controller > dl {
  padding: 0 1.6rem;
}

p#closeController {
  padding: 1.6rem;
}

p#openController {
  background: #0871BC;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1.6rem;
  margin: auto;
  width: 200px;
  text-align: center;
  z-index: 2;
}
