/********************
  Common
********************/

html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, verdana, monospace;
  color: #FFFFFF;
  font-size: 100%;
  background: #000000;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}

p {
  padding: 0.8rem 0;
  font-size: 0.8rem;
}

div#main {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
}

p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

/********************
  Contents
********************/

canvas#canvas {
  background: #000000;
}

div.controller {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.6rem
}
