/********************
  Common
********************/

html, body {
  font-family: Helvetica, verdana, monospace;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-size: 100%;
  background: #000;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
  overflow: hidden;
}


p#loading {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem;
}

header {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dl {
  display: inline-block;
}

dl > dt {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}

.leftEye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 30%;
  left: 20%;
}

.rightEye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 30%;
  right: 20%;
}

.mouth {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  position: absolute;
  bottom: 50%;
  left: 50%;
}
