/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/********************
  fadeIn
********************/

.fadeIn {
  -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
          animation: fadeIn 1.5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/********************
  fadeOut
********************/

.fadeOut {
  -webkit-animation: fadeOut 1.5s ease 0s 1 normal;
          animation: fadeOut 1.5s ease 0s 1 normal;
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

/********************
  Common
********************/

html, body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  color: white;
  background: black;
  font-family: 'arial black', 'American Typewriter', verdana, Helvetica, monospace, sans-serif;
  font-size: 100%;
  line-height: 1.6;
  overflow: hidden scroll;
}

canvas#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

img.loadedImg {
  opacity: 1;
}

/********************
  Header
********************/

header {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 1.6rem;
  text-align: right;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* Animation */

header.onloadHeader {
  -webkit-animation: headerAnimation 1s;
}

@-webkit-keyframes 'headerAnimation' {
  0% {
    left: -50%;
  }
  100% {
    left: 1.6rem
  }
}

/*
* Referenced https://www.terakoya.work/link-hover-line-css-animation/
*/

header a {
  position: relative;
  color: white;
  text-decoration: none;
  -o-transition: width .3s ease, color .3s ease;
  transition: width .3s ease, color .3s ease;
  -webkit-transition: width .3s ease, color .3s ease;
}

header a::after {
  border-bottom: solid 2px #CC2F3B;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  -o-transition: width .3s ease, color .3s ease;
  transition: width .3s ease, color .3s ease;
  -webkit-transition: width .3s ease, color .3s ease;
  width: 0;
}

header a:hover {
  color: #CC2F3B;
}

header a:hover::after {
  width: 100%;
}

span.logo {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #CC2F3B;
  margin-right: 0.4rem;
}

h1 {
  font-size: 2.4rem;
}

header > nav > ul > li {
  padding: 0.4rem 0;
}

li.flash > a {
  color: white;
  text-shadow: 0 0 50px black;
  -webkit-animation: flash 1.6s ease 0s alternate infinite;
          animation: flash 1.6s ease 0s alternate infinite;
}

@-webkit-keyframes flash{
  0% {
    color: white;
  }
  100% {
    color: #CC2F3B;
  }
}

/********************
  Main
********************/

h2#title {
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 1.6rem;
  height: 100%;
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0.8rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

/* Animation */

h2.onloadH2 {
  -webkit-animation: h2Animation 2s;
}

@-webkit-keyframes 'h2Animation' {
  0% {
    right: -50%;
  }
  100% {
    right: 1.6rem
  }
}

/********************
  Works
********************/

main > ul {
  font-size:0;
}

main > ul > li {
  display: inline-block;
  width: 33.333%;
}

/********************
  Scroll Signal
  Referenced / https://www.nxworld.net/tips/css-scroll-down-line.html
********************/

span.scroll {
  display: inline-block;
  position: absolute;
  left: 1.6rem;
  bottom: 0;
  padding: 10px 10px 60px;
  overflow: hidden;
  color: white;
  line-height: 1;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

span.scroll::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 50px;
  background: white;
}

span.scroll::after {
  -webkit-animation: sdl 3.2s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 3.2s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@media screen and (min-width: 48rem) {

  html {
    max-width: 1500px;
  }
  
  span.logo {
    width: 2.4rem;
    height: 2.4rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  main > ul > li {
    width: 20%;
  }

  h2#title {
    font-size: 1.2rem;
  }

}
