/**
 * fadeIn
 */
.fadeIn {
  -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
          animation: fadeIn 1.5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/**
 * fadeOut
 */
.fadeOut {
  -webkit-animation: fadeOut 1.5s ease 0s 1 normal;
          animation: fadeOut 1.5s ease 0s 1 normal;
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

/**
 * loading
 */
.loading {
  z-index: 999;
  position: fixed;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.1);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1, 1);
  animation: loading-animation 1.6s ease-in-out 0s infinite normal none;
}

@keyframes loading-animation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2, 2);
  }
}

/**
 * common
 */
html, body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  color: white;
  background: black;
  font-family: serif;
  font-size: 100%;
  line-height: 1.6;
  overflow-y: hidden scroll;
}

canvas {
  opacity: 0;
  transition: opacity 1.6s;
}

canvas#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  letter-spacing: 0.2rem;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

/**
 * header
 */
header {
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  top: 50%;
  left: 1.6rem;
  border-radius: 8px;
  text-align: right;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/**
 * Referenced https://www.terakoya.work/link-hover-line-css-animation/
 */
header a {
  position: relative;
  color: white;
  text-decoration: none;
  -o-transition: width .3s ease, color .3s ease;
  transition: width .3s ease, color .3s ease;
  -webkit-transition: width .3s ease, color .3s ease;
}

header a::after {
  border-bottom: solid 2px #CC2F3B;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  -o-transition: width .3s ease, color .3s ease;
  transition: width .3s ease, color .3s ease;
  -webkit-transition: width .3s ease, color .3s ease;
  width: 0;
}

header a:hover {
  color: #CC2F3B;
}

header a:hover::after {
  width: 100%;
}

span.logo {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #CC2F3B;
  margin-right: 0.4rem;
}

h1 {
  font-size: 1.6rem;
}

header > nav > ul > li {
  padding: 0.4rem 0;
  font-size: 0.6rem;
}

li.flash > a {
  font-size: 0.8rem;
  color: white;
  text-shadow: 0 0 50px black;
  -webkit-animation: flash 1.6s ease 0s alternate infinite;
          animation: flash 1.6s ease 0s alternate infinite;
}

@-webkit-keyframes flash{
  0% {
    color: white;
  }
  100% {
    color: #CC2F3B;
  }
}

/**
 * title
 */
#titleFrame {
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 1.6rem;
  height: 100%;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

h2 {
  opacity: 0;
  padding: 0 0.8rem;
  font-size: 0.6rem;
  transform: translateY(-50px);
  transition: opacity 1.6s, transform 1.6s;
}

/**
 *  works images
 */
main > ul {
  font-size:0;
  letter-spacing: 0;
}

main > ul > li {
  display: inline-block;
  width: 32%;
  padding: 0 0 1% 1%;
}

main > ul > li:first-child {
  padding-top: 1%;
}

main > ul > li > a > img {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s, transform 0.8s;
}

.show {
  opacity: 1;
  transform: none;
}

/**
 * click
 */
span.click {
  z-index: 2;
  font-size: 0.6rem;
  position: absolute;
  padding: 0.8rem;
  left: 50%;
  bottom: 1.6rem;
  overflow: hidden;
  transform: translateX(-50%);
  pointer-events: none;
}

span.click::before {
  z-index: -1;
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  animation: click-animation 3.2s ease-in-out 0s infinite normal none;
}

@keyframes click-animation {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    height: 100%;
  }
}

/**
 * for pc
 */
@media screen and (min-width: 48rem) {
  body {
    letter-spacing: 0.4rem;
  }

  span.logo {
    width: 2.4rem;
    height: 2.4rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  main > ul > li {
    width: 18.8%;
  }

  #title {
    font-size: 1rem;
  }
  
  span.click {
    font-size: 0.8rem;
  }
}
