/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "utf-8";

/********************
 * header
********************/
header {
  position: relative;
  height: 50%;
}

h1 {
  color: white;
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  letter-spacing: 1px;
  overflow: hidden;
}

#hamburger {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -o-transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6), -webkit-transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

#hamburger a {
  position: absolute;
  display: block;
  top: 0px;
  height: 40px;
  width: 40px;
  background: #F29B06;
}

#hamburger a::before, #hamburger a::after {
  content: "";
  display: block;
  position: absolute;
}

#hamburger a::before {
  top: 8px;
  left: 0;
  height: 8px;
  width: 40px;
  background: tomato;
}

#hamburger a::after {
  top: -4px;
  left: -4px;
  height: 48px;
  width: 48px;
  border: solid 2px #f1bd02;
  border-radius: 4px;
}

.hamburger-container {
  position: absolute;
  top: 16px;
  height: 8px;
  width: 40px;
  background: #00CB0B;
}

.hamburger-container::before, .hamburger-container::after {
  content: "";
  display: block;
  position: absolute;
}

.hamburger-container::before {
  top: 8px;
  left: 0;
  height: 8px;
  width: 40px;
  background: #9D5D00;
}

.hamburger-container::after {
  top: 16px;
  left: 0;
  height: 8px;
  width: 40px;
  background: #F29B06;
}

#hamburger:active {
  -webkit-transform: scale(1.2, 1.2) rotate(-180deg);
      -ms-transform: scale(1.2, 1.2) rotate(-180deg);
          transform: scale(1.2, 1.2) rotate(-180deg);
}

@media (min-width: 768px) {
  #hamburger:hover {
    -webkit-transform: scale(1.2, 1.2) rotate(-180deg);
        -ms-transform: scale(1.2, 1.2) rotate(-180deg);
            transform: scale(1.2, 1.2) rotate(-180deg);
  }
}

canvas {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

/********************
 * main
********************/
.main {
  height: 50%;
  position: relative;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h2, h3 {
  font-size: 14px;
  padding-bottom: 24px;
  white-space: nowrap;
}

ul li {
  display: inline-block;
  padding-bottom: 24px;
}

li {
  padding: 0 12px;
}

@media (min-width: 768px) {
  h2, h3 {
    font-size: 16px;
  }
}

/********************
 * footer
********************/
footer {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
