/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "utf-8";

body::-webkit-scrollbar {
 display:none;
}

body {
 -ms-overflow-style: none;
 scrollbar-width: none;
}

header {
  padding: 32px 0;
}

.container-trashes {
  max-width: 768px;
  margin: 0 auto;
}

/********************
 * trashes
********************/
#trashes {
  text-align: left;
  margin: 0 32px;
}

@media (min-width: 768px) {
  #trashes {
    margin: 0;
  }
}

.trash {
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  visibility: hidden;
  display: inline-block;
  opacity: 0;
  width: 100%;
  padding: 0 32px;
  text-align: center;
  -webkit-transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
  -o-transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s, transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s, transform ease-in-out 0.4s;
  transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s, transform ease-in-out 0.4s, -webkit-transform ease-in-out 0.4s;
}

.trash div {
  position: relative;
}

a:hover + p {
  opacity: 1;
  visibility: visible;
}

.trash img {
  opacity: 0;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: opacity 0.4s, transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
}

img.showImage {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

p {
  pointer-events: none;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  padding: 8px;
  -webkit-transition: opacity 0.8s, visibility 0.8s;
  -o-transition: opacity 0.8s, visibility 0.8s;
  transition: opacity 0.8s, visibility 0.8s;
}

@media (min-width: 768px) {
  .trash {
    width: 33.3%;
    padding: 0 16px;
  }
}

.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

ul {
  padding: 32px 0;
}

ul li {
  display: inline-block;
}

ul li:last-child {
  margin-left: 16px;
}

/********************
 * nav
********************/
nav {
  position: fixed;
  top: 50%;
  left: calc(50% + 135.86px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 800px) {
  nav {
    left: calc(50% + 416px);
  }  
}

ol li {
  padding: 24px 0;
  list-style-type: none;
  position: relative;
}

ol li a::after, .return::after {
  content: '';
  display: block;
  position: absolute;
  background: transparent;
  width: 48px;
  height: 48px;
  top: 12px;
  left: -11px;
}

.return {
  position: fixed;
  top: 50%;
  right: calc(50% + 135.86px);
  padding: 24px 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 800px) {
  .return {
    right: calc(50% + 416px);
  }
}

a.active svg {
  stroke: tomato;
}

#counter {
-webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
  font-size: 16px;
}

footer {
  padding: 32px 0;
}