/*
  common
*/

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #141517;
  font-family: 'Noto Sans', sans-serif;
  font-size: 100%;
}

a {
  color: #141517;
  text-decoration: none;
}

a:visited {
  color: #141517;
}

a:hover {
  color: deeppink;
}

body {
  position: relative;
}

/*
  header
*/

header {
  position: fixed;
  top: 1.6rem;
  left: 1.6rem;
  z-index: 9999;
}

header > h1 {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

/*
  footer
*/

footer {
  position: fixed;
  z-index: 9999;
  bottom: 1.6rem;
  right: 1.6rem;
}

/*
  main
*/

div {
  height: 100%;
  width: 100%;
  position: absolute;
}

.in {
  -webkit-animation: in .4s ease 0s 1 normal;
          animation: in .4s ease 0s 1 normal;
}

@-webkit-keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

div > ul {
  padding: 0.8rem;
  position: absolute;
  text-align: left;
  background: rgba(0, 0, 0, .8);
  color: #FFF;
  width: 20%;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

div > ul > li {
  cursor: copy;
}

div > ul > li:first-child {
  padding-bottom: 0.8rem;
}

div > ul > li:hover {
  color: deeppink;
}

div > ul > li:hover:after {
  display: block;
  position: fixed;
  content: 'Click to copy!';
  top: -1.6rem;
  -webkit-animation-name: pop;
          animation-name: pop;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

div > ul > li:hover:active:after {
  content: 'Get Color!'
}

@-webkit-keyframes pop {
  0% {
    top: 0rem;
  }
  100% {
    top: -1.6rem;
  }
}

@keyframes pop {
  0% {
    top: 0rem;
  }
  100% {
    top: -1.6rem;
  }
}

/*
  frame
*/

span.upRight {
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
  width: 32px;
  border-top: 2px solid #000;
}

span.upRight::after {
  content: '';
  display: block;
  height: 32px;
  width: 30px;
  border-right: 2px solid #000;
}

span.dwLeft {
  position: fixed;
  bottom: 1.6rem;
  left: 1.6rem;
  width: 32px;
  border-top: 2px solid #000;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

span.dwLeft::after {
  content: '';
  display: block;
  height: 32px;
  width: 30px;
  border-right: 2px solid #000;
}

span#meter {
  z-index: 9999;
  position: fixed;
  top: 0rem;
  right: 0rem;
  background: #141517;
  width: 4px;
  height: 0%;
}

/*
  smartphone
*/

@media screen and (max-width: 48rem) {

  div > ul {
    width: 60%;
  }

}
