html,
body {
  width: 100%;
  overflow-x: hidden;
  color: #141517;
  font-family: 'Noto Sans', sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #141517;
}

a:visited {
  color: #141517;
}

a:hover {
  color: deeppink;
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 1.6rem;
  left: 1.6rem;
  z-index: 9999;
}

header>h1 {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

footer {
  position: fixed;
  z-index: 9999;
  bottom: 1.6rem;
  right: 1.6rem;
}

div {
  width: 100%;
  position: relative;
}

div>ul {
  padding: 0.8rem;
  position: absolute;
  text-align: left;
  background: rgba(0, 0, 0, .8);
  color: #FFF;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

div>ul>li {
  cursor: copy;
}

div > ul > li:hover:active:after {
  content: 'Get Color!'
}

div > ul > li:hover:after {
  display: block;
  position: fixed;
  content: 'Click to copy!';
  top: -1.6rem;
  animation-name: fadeIn;
  animation-duration: .1s;
  animation-timing-function: ease-in;
}

@keyframes fadeIn {
  0% {
    top: 0rem;
  }
  100% {
    top: -1.6rem;
  }
}

div > ul > li:hover {
  color: deeppink;
}

div>ul>li:first-child {
  padding-bottom: 0.8rem;
}

span.upRight {
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
  width: 32px;
  border-top: 2px solid #000;
}

span.upRight::after {
  content: '';
  display: block;
  height: 32px;
  width: 30px;
  border-right: 2px solid #000;
}

span.dwLeft {
  position: fixed;
  bottom: 1.6rem;
  left: 1.6rem;
  width: 32px;
  border-top: 2px solid #000;
  transform: rotate(180deg);
}

span.dwLeft::after {
  content: '';
  display: block;
  height: 32px;
  width: 30px;
  border-right: 2px solid #000;
}
